.container {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -1px;
    border: none;
    padding: 16px;
    cursor: pointer;
}

.button:disabled {
    color: var(--Medium-grey, #6D6E76);
    
    cursor: not-allowed;
}