.title {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 89px;
    margin-bottom: 32px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    color: var(--main-color);
    letter-spacing: -2px;
    align-items: center;
    padding: 0 32px;
}

.title > h1{
    padding: 0;
}

.contentContainer {
   padding: 25px 32px;
}



.image {
    object-fit: cover;
    width: 500px;
}

.date {
    color: gray;
    padding: 10px 0;margin-left: 1rem;
}
.textContainer{
    display: flex;
    flex-direction: column;
}

.textContainer:hover {
    background: var(--Light-yellow, #FBF6EA);
}

.category {
    display: flex;
    align-items: center;
    color: #592EA9;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.postTitle>h4 {

    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

@media screen and (max-width: 1280px) {
    .imageContainer {
        display: none;
    }

    .postTitle {
        width: 100%;
    }
}