.textContainer {
    padding: 25px 32px;
    flex: 1;
    display: flex;
    gap: 30px;

}

.imageContainer {
    width: 400px;
    height: 300px;
    position: relative;
}

.contentContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.image {
    object-fit: cover;
    width: 100%;

}

.date {
    color: gray;
    padding: 10px 0;
    line-height: 20px;
    /* 125% */
    letter-spacing: 1px;
    text-transform: none;
}

.textContainer:hover {
    background: var(--Light-yellow, #FBF6EA);
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #592EA9;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
}



@media screen and (max-width: 1280px) {
    .imageContainer {
        display: none;
    }

    .postTitle {
        width: 100%;
    }
}