@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply dark:bg-[#052825] bg-white
    }

    h1, h2, h3, h4, h5, h6, p {
        @apply text-[#232536];
        @apply dark:text-white;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: #0D000000;
    --main-color: #232536;
    --button-bg: #FFD050;
    --button-hover: #EDC14A;
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.dark {
    --bg: #0f172a;
    --textColor: #ddd;
    --softBg: #1f273a;
    --softTextColor: #a6a6a6;
}

.light {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

h1 {

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
    padding: 32px 0 0;

}

h2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding-top: 5px;
    padding-bottom: 10px;
    /* 133.333% */
    letter-spacing: -2px;
}

h3 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: -2px;
}

.link {

    font-size: 1rem;
    font-weight: 500;
    color: #8d5ee4;
    align-items: center;
    line-height: 1.75;
    letter-spacing: 0em;
}

.ql-container {
    font-size: 28px !important;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
    color: #b3b3b1;
}